# Yocto build artifacts
build/
tmp/
sstate-cache/
cache/
downloads/
deploy/
work/

# Logs and temporary files
*.log
*.lock
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp
*.~undo-tree~
*.backup
tags
session.vim

# Ignore ctags files
tags
TAGS

# Ignore Git submodule metadata
yocto/.git
meta-ros/.git
meta-myrobot/.git

